Formulas and tests for flat index for the upper right triangle.

In [42]:
import pandas as pd


def flat(i, j, n):
    return int((i * (n - 1 + n - 1 - (i - 1)) / 2 + (j - i)) - 1)


def unflat(k, n):
    i = 0
    j = n - 1
    while k >= j:
        k -= j
        i += 1
        j -= 1
    return (i, i + 1 + k)


N = 10
pd.DataFrame([[flat(i, j, N) for j in range(N)] for i in range(N)])

    0   1   2   3   4   5   6   7   8   9
0  -1   0   1   2   3   4   5   6   7   8
1   7   8   9  10  11  12  13  14  15  16
2  14  15  16  17  18  19  20  21  22  23
3  20  21  22  23  24  25  26  27  28  29
4  25  26  27  28  29  30  31  32  33  34
5  29  30  31  32  33  34  35  36  37  38
6  32  33  34  35  36  37  38  39  40  41
7  34  35  36  37  38  39  40  41  42  43
8  35  36  37  38  39  40  41  42  43  44
9  35  36  37  38  39  40  41  42  43  44

In [41]:
import numpy as np 

N = 100
flatten = pd.DataFrame([[flat(i, j, N) for j in range(N)] for i in range(N)])

comps = []
for k in range(int(N * (N - 1) / 2)):
    index = unflat(k, N)
    comps.append(k == flatten.to_numpy()[index])

np.all(comps)

True